@charset "UTF-8";

.login .visual .logo_img{background-image:url("../../images/thingplug/img_login.png");}
.gnb .gnb_logo a{background-image:url("../../images/thingplug/logo.png");}
.error_area .error_head .logo{background: url("../../images/thingplug/logo_dark.png") 4px 4px no-repeat;}
.m_header .m_logo{background:url("../../images/thingplug/logo_monitoring.png") 24px 9px no-repeat;}

/* resource configuration - left menu */
.layout.type_01 > .cell.type_01 {height: 455px;}
.side_menu > li {display:table;}
.side_menu > li > a {display:table-cell;width:100%;height:64px;line-height:20px;padding:10px 20px;vertical-align:middle;word-break:break-all;}
